.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 70px 18px;
}

.header-container_theme_main {
  background-color: #073042;
}

@media screen and (max-width: 900px) {
  .header-container {
    padding: 18px 30px 18px;
  }
}

@media screen and (max-width: 500px) {
  .header-container {
    padding: 18px 14px 18px;
  }
}
